pandas
scanpy
anndata
scikit-image
svgwrite
jupyter
pytest
pylint
torch
numpy
matplotlib
torchvision

install Java JDK in Ubuntu

sudo apt-get update
sudo apt-get install default-jdk

python-bioformats